/*
========================================================|
--------------------------------------------------------|

                VARIABLES

--------------------------------------------------------|
========================================================|
*/
:root{

    --ff-primary: system-ui;
    --fc-primary: hsl(0 0% 90%);
    --bc-primary: hsl(0 0% 10%);
    --cc-primary: hsl(0 0% 0%);

    --header-height: 120px;
    --footer-height: 100px;
}
/*
========================================================|
--------------------------------------------------------|

                RESETS

--------------------------------------------------------|
========================================================|
*/
*,::before,::after{margin: 0;padding: 0;box-sizing: border-box;}
/*
========================================================|
--------------------------------------------------------|

                UTILITY CLASSES

--------------------------------------------------------|
========================================================|
*/
.btn{
    cursor: pointer;
}
.inactive{
    opacity: 0.2;
    cursor: none;
    pointer-events: none;
}
/*
========================================================|
--------------------------------------------------------|

                SITE

--------------------------------------------------------|
========================================================|
*/
html{
    font-family: var(--ff-primary);
    color: var(--fc-primary);
}
body{
    min-height: 100vh;
    background-color: var(--bc-primary);
    
}

/*
========================================================|
--------------------------------------------------------|

                STYLES

--------------------------------------------------------|
========================================================|
*/

/*
--------------------------------------------------------|

                APP

--------------------------------------------------------|
*/
.app{
    width: 100vw;
    height: 100vh;
    

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

/*
--------------------------------------------------------|

                HEADER PRIMARY

--------------------------------------------------------|
*/
.header-primary{
    grid-column: 1;
    grid-row: 1;
    
    height: var(--header-height);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
.header-primary > h1{
    padding-left: 1rem;
    padding-top: 10px;
    font-size: 1.5rem;
}
.header-primary > h1 > span{
    color: yellow;
}


.animation-options{
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}
.animation-options > button{
    position: relative;
    border: none;
    background: none;
    color: var(--fc-primary);
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black,
    inset -2px -2px 3px black,
    inset 2px 2px 3px hsl(0 0% 100% / 0.5);
    pointer-events: all;

    transition: 100ms ease;
}
.animation-options > button:nth-child(1){
    background-color: hsl(180 100% 50%);
    color: black;
}
.animation-options > button:nth-child(2){
    background-color: black;
    color: white;
}
.animation-options > button:nth-child(3){
    background-color: pink;
    color: black;
}
.animation-options > button:nth-child(4){
    background-color: purple;
    color: white;
}
.animation-options > button:nth-child(5){
    background-color: blue;
    color: white;
}
.animation-options > button:hover{
    background-color: hsl(0 0% 20%);
}
.animation-options > button:active{
    scale: .98;
    box-shadow: 2px 2px 5px black;
}
.animation-options > button::before{
    content: "";
    position: absolute;
    top: 120%; left: 50%;
    width: 66%;
    height: 20%;
    background-color: limegreen;
    border-radius: 10px;

    opacity: 0;
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
    transition: opacity 200ms ease-in-out,
    transform 200ms ease-in-out;
}
.animation-options > button.active::before{
    opacity: 1;
    transform: translateX(-50%) scaleX(1);
}


/*
--------------------------------------------------------|

                MAIN / CANVAS

--------------------------------------------------------|
*/




.main-content{
    grid-column: 1;
    grid-row: 2;

    position: relative;
    isolation: isolate;
    overflow: hidden;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    
}
.main-content::before{
    content: "loading...";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(0 0% 0% / 0.9);
    color: var(--fc-primary);
    font-size: 2rem;
    font-weight: 900;
    opacity: 0;

    display: none;
    place-content: center;
}
.main-content.loading::before{
    display: grid;
    opacity: 1;
    animation: loading 1s linear infinite;
}
@keyframes loading {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.canvas{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    background-color: var(--cc-primary);
}
.rotating-canvas{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    background-color: transparent;
    opacity: 0;
    
    transition: opacity 300ms ease;
}
.rotating-canvas.show{
    opacity: 1;
}
.rotating-canvas.rotate-small{
    animation: rotateCanvasSmall 20s linear infinite;
}
.rotating-canvas.rotate-full{
    animation: rotateCanvasFull 60s linear infinite;
}
@keyframes rotateCanvasSmall {

    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes rotateCanvasFull {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/*
--------------------------------------------------------|

                FOOTER PRIMARY

--------------------------------------------------------|
*/





.footer-primary{
    grid-column: 1;
    grid-row: 3;
    background-color: var(--bc-primary);
    height: var(--footer-height);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
}
.animation-controls{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.animation-controls > button{
    background: none;
    background-color: var(--bc-primary);
    color: var(--fc-primary);
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 10px;
    text-transform: uppercase;
    box-shadow: 5px 5px 10px black,
    inset -2px -2px 3px black,
    inset 2px 2px 3px hsl(0 0% 100% / 0.5);

    transition: 100ms ease;
}
.animation-controls > button:hover{
    background-color: hsl(0 0% 20%);
}
.animation-controls > button:active{
    scale: .98;
    box-shadow: 2px 2px 5px black;
}
.start-btn{
    outline: 4px solid green;
}
.stop-btn{
    outline: 4px solid red;
}
/*
========================================================|
--------------------------------------------------------|

                ANIMATIONS

--------------------------------------------------------|
========================================================|
*/

/*
========================================================|
--------------------------------------------------------|

                MOBILE RESPONSE

--------------------------------------------------------|
========================================================|
*/